:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-blue-grey: #81b3d2;
  --light-grey: #CACACA;
  --dark-grey: #888888;
  --middle-brown: #766357;
  --basic-gray: #669EC0;
  --blue-steel: #5496BD;
  --middle-gray-brown: #604E43;
  --gray-brown: #503E33;
  --smoky-white: #EBEBEB;
  --smoky-white-2: #F2F2F2;
  --smoky-white-3: #EEEEEE;
  --dull-gray: #666666;
  --signal-black: #333333;
  --white-aluminum: #A9A9A9;
  --dirty-white: #E5E5E5;
  --dark-brown: #231F20;
}

/*Global*/

body {

  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size:21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--dark-grey);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

h1,
h2 {
  visibility: hidden;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: transparent;
}

.site-navigation {
  list-style: none;
  background-color: var(--basic-white);
}

.site-navigation a:hover {
  color: var(--basic-blue-grey);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:active {
  color: var(--middle-brown);

}

.container {
  background-color: var(--basic-white);
}


.advantages-list {
  list-style: none;
}

.advantage-item {
  text-align: center;
}

.advantage-item-description {
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-blue-grey);
  font-weight: normal;
  color: var(--basic-white);
}

.advantage-item-other-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--smoky-white-3);
  color: var(--signal-black);
}

.advantage-number {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--smoky-white-3);
  color: var(--signal-black);
}


.first-advantage {
  background-color: var(--basic-blue-grey);
  color: var(--basic-white);
  width: 400px;
  height: 256px;
  left: 40px;
  top: 780px;
}

.first-number-advantage {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.second-advantage {
  background-color: var(--basic-blue-grey);
  color: var(--basic-white);
  width: 400px;
  height: 256px;
  left: 840px;
  top: 1366px;
}

.second-number-advantage {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.recommendations-list {
  list-style: none;
}

.recommendation-item {
  text-align: center;
}

.recommendation-item-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--signal-black);
}

.other-advantages {
  background-color: var(--smoky-white-3);
}

.booking {
  text-align: center;
}

.button {
  font: inherit;
  text-align: center;
  line-height: 86px;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--middle-brown);
  border: none;
}

.button:hover {
  color: var(--basic-white);
  background-color: var(--middle-gray-brown);

}
.button:focus {
  color: var(--basic-white);
  background-color: var(--gray-brown);
}

.button:active {
  color: var(--basic-white);
  background-color: var(--gray-brown);
}
.page-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;

}

/* Social button */

.social-button {
  color: var(--basic-white);
  background-color: var(--basic-blue-grey)
}

.social-button:hover {
  background-color: var(--basic-gray);
}
.social-button:focus {
  background-color: var(--blue-steel)
}

.footer-phone {
  color: inherit;
}

.footer-copyright {
  color: var(--basic-black);
text-align: right;
}
